@font-face {
    font-family: 'ABC Diatype';
    src:    url('fonts/ABCOracleTriple-Thin-Trial.woff') format('woff'),
            url('fonts/ABCOracleTriple-Thin-Trial.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'ABC Diatype';
    src:    url('fonts/ABCOracleTriple-Bold-Trial.woff') format('woff'),
            url('fonts/ABCOracleTriple-Bold-Trial.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}




/* typeface styling */


html {
    scroll-behavior: smooth;
}

:root {
    font-family: "ABC Diatype";
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0;
   
}

body {
    background: rgb(247, 247, 247);
    color: rgb(51, 47, 27);
    font-size: 0.75em;
    line-height: 1.15em;
    margin: 0px;
    padding: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5em;
    line-height: 0.75em;
    font-weight:bold;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    padding-top:5px;
}

h2 {
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
    font-weight:normal !important;
    font-style: normal !important;  
    line-height: 1.2em;
    margin: 0;
    max-width: 20vw;
    min-width: 200px;
}



a {
    width: 30px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    color: black;
    background: white;
}


/*containers*/
nav {
    position: absolute;
    padding: 1em;
    z-index: 2;
    width: 100%;
    height:55px;
    color: white;
    mix-blend-mode: difference;

}

nav > div {
    position: fixed;
}


footer {
    min-height: 100vh;
    width: 100vw;
    background: rgb(31, 31, 31);
    display: flex;
}

footer > div {
    width: 25%;
}

main {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

section {
    display: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
}

.easy-nav {
    width: fit-content;
    margin-bottom: 5px;
    border-radius: 12px;
    padding: 0 10px 0 10px;
    border: 1px solid white;
    background: white;
}

button {
    width:fit-content;
    border-radius: 12px;
    padding: 0 10px 0 10px;
    border: 1px solid white;
}

button > h2 {
    min-width: 0px;
}

.slideshow {
    margin: 0 1em 0 1em;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 80%;
}

.self-portrait {
    max-height: 250px;
    
    display: inline-block;
}

.info-container {
    margin: 9em 1em 1em 1em;
    padding-top: 1em;
}

.info-container > h2 {
    color: white;
    mix-blend-mode: difference;
}

.info-container > p {
    color: white;
    mix-blend-mode: difference;
}


.spacing-block {
    height: 3em;
}

.grid > img {
    max-width: 17vw;

    display: inline-block;
}

.grid {
   height:fit-content;
   display: flex;
   align-content: left;
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 50px;
}

.contact-sheet {
    padding: 4.15em 1em 5em 1em ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-item {
    display: none;
}

.show {
    display: block;
}

video {
    height: 100%;
    margin-right: 8px;
}

.project-description {
    margin-top: 17px;
    display: flex;
}

.synopsis {
    width: 68%;
    margin-right: 1em;
    margin-bottom: 1em;
}

.credits {
    width: 30%;
    flex-shrink: 1;
}

.credits > div  {
    margin-top: 5px;
}


.credits > div:nth-of-type(1)  {
    margin: 0;
}

.info-bit {
    margin-top: 15px;
}

.info-bit > h1 {
    margin-top: 1.75em;
}

/*main columns*/



p {
    width: 100%;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3em;
    margin:0.5em 0 0 0;
    line-height: 0.95em;
    cursor: text;
}

p > span {
    font-weight:bold;
}



[contenteditable] {
    outline: 0px solid transparent;
  }


/* type slider & style chooser */

input {
    margin-left: 30px;
}

input.axis-range{
	width: 200px;
	margin-top: 7px;
}

select {
    font-family: "Monobloc Mono _Regular";
    text-decoration: underline;
    font-size: 1.25em;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-image: url(dropdown-arrow-11.svg);   /* Add custom arrow */

    margin-left: 20px;
    padding: 2px;
    background:none;
    border: none;
    color:rgb(51, 41, 27);
    border-radius: 0;
}

select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

input[type="range"] {
    background: transparent;

    -webkit-appearance: none;
   }
   
   input[type="range"]:focus {
    outline: none;
   }

   input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(51, 47, 27);
    height: 5px;
    
   }
   
   input[type="range"]::-moz-range-track {
    background: rgb(51, 47, 27);
    height: 5px;
    
   }

   input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: rgb(51, 47, 27);
    border: 2px solid rgb(78, 131, 231);
    margin-top: -7px;
    border-radius: 50%;
   }
   
   input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: rgb(51, 47, 27);
    border: 2px solid rgb(78, 131, 231);
    margin-top: -7px;
    border-radius: 50%;
   }


   input[type="range"].brown-bckg::-webkit-slider-thumb {
    border: 2px solid rgb(191, 132, 72);
   }
   input[type="range"].brown-bckg::-moz-range-thumb {
    border: 2px solid rgb(191, 132, 72);
   }


   input[type="range"].yellow-bckg::-webkit-slider-thumb {
    border: 2px solid rgb(237, 226, 10);
   }
   input[type="range"].yellow-bckg::-moz-range-thumb {
    border: 2px solid rgb(237, 226, 10);
   }


   input[type="range"].pink-bckg::-webkit-slider-thumb {
    border: 2px solid rgb(236, 87, 229);
   }
   input[type="range"].pink-bckg::-moz-range-thumb {
    border: 2px solid rgb(236, 87, 229);
   }







/*img styling*/




/*link shake*/

@-webkit-keyframes link-shake {
    0%, to {
        -webkit-transform: rotate(2.5deg);
        transform:rotate(2.5deg)
    }

    25% {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(-2.5deg);
        transform:rotate(-2.5deg)
    }

    75% {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg)
    }
}

@keyframes link-shake {
    0%, to {
        -webkit-transform: rotate(2.5deg);
        transform:rotate(2.5deg)
    }

    25% {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(-2.5deg);
        transform:rotate(-2.5deg)
    }

    75% {
        -webkit-transform: rotate(0deg);
        transform:rotate(0deg)
    }
}




  /*tool tip*/
  .tooltip:hover .tooltiptext {
    display: block;
}


.tooltiptext {
    display: none;
    background: rgb(247, 247, 247);
    margin-left: 15px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    border: 1px solid rgb(51, 47, 27);
    max-width:20em;
}



/* one time tings */
.home {
    color: rgb(247, 247, 247);
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    max-width: 300px;
}


/* selection */
::selection {
    background:rgb(255, 156, 243);
  }



  /*scroll bar
  /* width */

  html {
    scrollbar-width: none;
  }
  

  body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }






  @media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    
    main {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x:hidden;
    }

    h1 {
        font-size: 2.5em;
    }

    .description {
        display: none;
    }

    .slideshow {
        height: 100vh;
    }

    .mySlides {
        height: auto;
        width:100vw;
    }

    .contact-sheet > div > img {
        max-height: 40vw;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5em;
    }

    footer > div {
        width: 100vw;
    }

    .info-container {
        margin: 1em;
        padding-top: 1em;
    }

    .self-portrait {
        padding-top: 3.5em;
    }
  }

  @media screen and (min-height: 1000px) {
    .mySlides {
        height: 80vh;
        width: auto;
    }
  }




